.sidebar {
  height: 100%;
  /* background: #fff !important; */
  /* background-image: url(https://img.freepik.com/premium-vector/white-abstract-background-with-white-color-bubble-pattern-suitable-website-design-banner_626143-326.jpg); */
  color: black !important;
  position: relative !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  color: black !important;
  border-right: 1px solid rgba(0, 0, 0, 0.3) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
  box-shadow: -3px 0 5px 0 black !important;
}
.sidebar-icon {
  color: black;
}
.sidebar-item {
  padding-left: 0px !important ;
}
.sidebar-item:hover {
  /* background-image: linear-gradient(to right, #e8f0ff25, #202c70); */
  /* color: #fff; */
  cursor: pointer;
  background-color: #dad9d9;
  color: black;
  font-weight: 800;
}
.logout:hover {
  cursor: pointer;
  background-color: #ee6b6e;
  color: black;
  font-weight: 900;
}
.sidebar-listitem-btn {
  padding: 12px !important;
}
.sidebar-listitem-btn:active {
  background: #dad9d9 !important;
  color: black !important;
  font-weight: 900;
}
.link {
  text-decoration: none !important;
  color: black;
}
.active li {
  background: #dad9d9 !important;
}
